*
{
	box-sizing: border-box;
}
body
{
	margin: 0
}
.box1, .box2, .box3
{
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box1{background-color: green;}
.box2{background-color: red;}
.box3{background-color: blue;}

.zeile1, .zeile2, .zeile3
{
	display: flex;
	margin-bottom: 200px; 
}
.zeile1{justify-content: center;}
.zeile2{justify-content: space-between;}
.zeile3{justify-content: space-evenly;}